.tip {
    position: relative;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    top: 30px;
    background-color: #000;
    color: #fff;
    width: 200px;
    font-size: 12px;
    padding: 6px;
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.tip:hover .tooltip {
    display: block;
}

.tooltip::before {
    content: '';
    position: absolute;
    top: -16px;
    left: 10px;
    border: 8px solid transparent;
    border-bottom-color: #000;
  }
